Import dependencies

In [8]:
from pathlib import Path
import pandas as pd

Connect to the sqlite3

In [13]:
#website: https://sqliteviewer.app/#/
import sqlite3

# Connecting to sqlite
conn = sqlite3.connect('titanic.db')

# Creating a cursor object using the cursor() method
cursor = conn.cursor()

#df_testing.to_sql('test_table',conn)
#df_training.to_sql('train_table', conn)
# Commit your changes in the database    
# conn.commit()
# Closing the connection
# conn.close()

Load the  trainning data from the database as a DatarFrame

In [14]:
# Select all the columns from the train_table
import sqlite3
dta=pd.read_sql_query("SELECT * FROM train_table", conn)
print(dta)

     PassengerId  Survived  Pclass     Sex
0              1         0       3    male
1              2         1       1  female
2              3         1       3  female
3              4         1       1  female
4              5         0       3    male
..           ...       ...     ...     ...
886          887         0       2    male
887          888         1       1  female
888          889         0       3  female
889          890         1       1    male
890          891         0       3    male

[891 rows x 4 columns]

In [16]:
# convert the data into the trainning dataframe
df_training= pd.DataFrame(dta)
df_training.head(10)

   PassengerId  Survived  Pclass     Sex
0            1         0       3    male
1            2         1       1  female
2            3         1       3  female
3            4         1       1  female
4            5         0       3    male
5            6         0       3    male
6            7         0       1    male
7            8         0       3    male
8            9         1       3  female
9           10         1       2  female

Load testing data

In [17]:
# Load 
# testing data

# Select all the columns from the test_table
import sqlite3
dat =pd.read_sql_query("SELECT * FROM test_table", conn)
print(dat)

     PassengerId  Pclass     Sex
0            892       3    male
1            893       3  female
2            894       2    male
3            895       3    male
4            896       3  female
..           ...     ...     ...
413         1305       3    male
414         1306       1  female
415         1307       3    male
416         1308       3    male
417         1309       3    male

[418 rows x 3 columns]

In [18]:
# convert the data into the trainning and testing  dataframe
df_testing= pd.DataFrame(dat)
df_testing.head(10)

   PassengerId  Pclass     Sex
0          892       3    male
1          893       3  female
2          894       2    male
3          895       3    male
4          896       3  female
5          897       3    male
6          898       3  female
7          899       2    male
8          900       3  female
9          901       3    male

# Prepare and clean data

In [19]:
# check for null values in both training and testing datasets

# training data nulls
df_training.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
dtype: int64

In [20]:
# test data nulls
df_testing.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
dtype: int64

In [21]:
# Transform the gender column into a categorical column
df_training.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)
df_testing.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [22]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd

In [24]:
# Split our preprocessed data into our features and target arrays
y = df_training['Survived'].values
X = df_training #.drop(['Cabin','PassengerId','Survived','Name','Age', 'SibSp', 'Parch', 'Fare','Ticket'],1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [25]:
# Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [26]:
# Fit (train) or model using the training data
model.fit(X_train, y_train)

LogisticRegression()

In [27]:
# Make predictions
y_pred = model.predict(X_test)
print(y_pred)

[0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1
 0 1 0 1 0 0 0 1 1 0 1 0 0 1 0 1 0 1 1 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 0
 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 1 0 1 0 0 0 0
 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 1 0 1 0 1 1 1 0 0 1 0 0 0 1 0 0 1 0 1 0 0 1
 0 0 0 1 1 1 1 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 1 0 1 1 1 0 1 0 1 0 1 0 0
 0 1 1 0 0 0 1 0 1 0 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 1 0 0 1 1 0 1 0 1 0
 1]

In [28]:

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

1.0

In [29]:
from sklearn.metrics  import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[143   0]
 [  0  80]]

In [30]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       143
           1       1.00      1.00      1.00        80

    accuracy                           1.00       223
   macro avg       1.00      1.00      1.00       223
weighted avg       1.00      1.00      1.00       223

In [31]:
# df_testing.to_sql('test_table',conn)
# df_training.to_sql('train_table', conn)
# Commit your changes in the database    
#conn.commit()
# Closing the connection
#conn.close()